body{
    background-color: lightgrey;
    width: fit-content;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #87d929; */
}
header{
    background-color: #13678A;
    height: 250px;
    width: auto;
}
h1{
    color: #CBC7CF;
    font-size: 70px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: semi-expanded;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
}
img{
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px; 
    border-color: #9AEBA3;
    height: 250px;
    width: 400px;
    margin-top: 30px;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
    font-family: verdana;
    background-color: #DAFDBA;
    text-align: center;
    margin-left: 20px;
}
  footer {
    clear: both;
    height: 40px;
    width: 100%;
    background-color:#45C4B0
  }
  #id {
      text-align: center;
  }

  
  