body{
    background-color: lightgrey;
    width: fit-content;
}
header{
    background-color: darkturquoise;
    height: 250px;
    width: auto;
}
title{
    color: darkslategrey;
    font-size: large;
}
img{
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px; 
    height: 50px;
    width: 60px;
}