* {
    /* outline: dashed 2px rgb(53, 250, 26); */
  }
  
body{
    background-color: lightgrey;
    width: fit-content;
}
header{
    background-color: darkturquoise;
    height: 250px;
    width: auto;
}
h1{
    color: darkslategrey;
    font-size: xx-large;
}
img{
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px; 
}
ul{
    font-size: large;;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #176796;
    /* background-color: #87d929; */
  }
  
  footer {
    clear: both;
    height: 250px;
    width: 100%;
    background-color:rgb(130, 177, 124)
  }

  
  